@use "../abstracts" as *;
@use "sass:math";

.diagonal__container {
  h4 {
    font-size: $font-size-xl;
    margin-bottom: $margin * 1.5;

    @include min-screen("md") {
      margin-bottom: $margin;
    }
  }

  p {
    margin: 0;
  }
}

.diagonal__box {
  background-color: $brand-primary;
  margin-bottom: $margin;

  @include min-screen("md") {
    background-position: center right -275px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: $margin * 1.5;
    padding: 0;
    display: flex;
    align-items: stretch;
  }

  @include min-screen("lg") {
    background-position: center right -100px;
  }

  @include min-screen("xl") {
    background-position: center right;
    min-height: 400px;
  }

  &.diagonal__box--flipped {
    @include min-screen("md") {
      flex-direction: row-reverse;
    }
  }
}

.diagonal__text {
  padding-top: $padding * 3;
  padding-bottom: $padding * 2;
  padding-right: calc((calc(100vw - map-get($container-max-widths, xs)) / 2));

  @include min-screen("sm") {
    padding-right: calc((calc(100vw - map-get($container-max-widths, sm)) / 2));
  }

  @include min-screen("md") {
    flex: 1;
    padding-top: $padding * 3;
    padding-bottom: $padding * 3;
    padding-right: $padding;
  }

  @each $breakpoint, $max-width in $container-max-widths {
    @include min-screen($breakpoint) {
      padding-left: calc(
        (calc(100vw - map-get($container-max-widths, $breakpoint)) / 2)
      );
    }
  }

  .diagonal__box--flipped & {
    text-align: right;

    @include min-screen("md") {
      text-align: left;
      padding-left: $padding;
    }

    @each $breakpoint, $max-width in $container-max-widths {
      @include min-screen($breakpoint) {
        padding-right: calc(
          (calc(100vw - map-get($container-max-widths, $breakpoint)) / 2)
        );
      }
    }
  }
}

.diagonal__image {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 175px;

  @include min-screen("md") {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    height: auto;
    flex: 1;

    .diagonal__box--flipped & {
      @include min-screen("md") {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
      }
    }
  }
}
